<h1>Edit Employee</h1>

<%= form_with model: @worker do |form| %>
 <% if @worker.errors.any? %>
   <% @worker.errors.full_messages.each do %>
      <p><%= message %></p>
   <% end %>
 <% end %>
  <div>
  	<%= form.label :first_name %><br>
  	<%= form.text_field :first_name %>
  </div>
  <div>
  	<%= form.label :last_name %><br>
  	<%= form.text_field :last_name %>
  </div>
   <div>
   	<%= form.label :email %><br>
   	<%= form.text_field :email %>
   </div>

    <div>
  	 <%= form.submit %>
    <div>  
<% end %>
